<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/favicon_io/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Augusto Oliveira</title>
</head>

<body>
    <!-- Icone do nav-menu -->
    <i class="bi bi-list menu-mobile justify-content-center"></i>

    <aside id="header">
        <section class="profile">
            <!-- Imagem de perfil do nav-bar -->
            <img src="../static/img/perfil2.png" alt="Foto do Augusto">
            <h1>Augusto Oliveira</h1>
            <div class="social-links mt-4 text-center">
                <!-- Imagem do linkedin no nav-bar -->
                <a target="_blank" href="https://www.linkedin.com/in/augusto-oliveira-a336b4214/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <!-- Imagem do GitHub no nav-bar -->
                <a target="_blank" href="https://github.com/augustobernardo">
                    <i class="bi bi-github"></i>
                </a>
                <!-- Imagem do instagram no nav-bar -->
                <a target="_blank" href="https://www.instagram.com/guto_ooliveira/">
                    <i class="bi bi-instagram"></i>
                </a>
                <!-- Imagem do email no nav-bar para enviar uma mensagem diretamente -->
                <a target="_blank" href="mailto:gutooliveira027@outlook.com">
                    <i class="bi bi-envelope"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <!-- Nav-menu informações -->
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio">
                        <i class="bi bi-house"></i>
                        Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        <i class="bi bi-person"></i>
                        Sobre
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check"></i>
                        Habilidades
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo">
                        <i class="bi bi-file-earmark"></i>
                        Currículo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projetos">
                        <i class="bi bi-collection"></i>
                        Projetos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="bi bi-envelope"></i>
                        Contato
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <!-- Nome / Título do site -->
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Augusto Oliveira</h2>
                <span id="subtitle" class="text-white text-shadow">Estudante</span>
            </div>
            <!-- "a" para arrastar para baixo -->
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Sou estudante do curso de Sistema de Informação, com cursos extracurriculares. Sou um profissional que gosta 
                        de trabalhar em equipe. Uma pessoa organizada e comprometida com datas e entregas. Procuro constantemente 
                        obter novos conhecimentos nas áreas que atuo e também áreas afins. Além de ser uma pessoa proativa, 
                        empática, determinada, organizada, extrovertida, com boa comunicação, comprometida e  com pensamento crítico.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <!-- Imagem de perfil -->
                <div class="col-md-4" data-anime="left">
                    <img class="img-fluid shadow" src="../static/img/perfil2.png" alt="Foto de perfil do Augusto">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Estudante</h3>
                    <p>Atualmente estou estudando o curso de Sistema de Informação no Centro Universitário Salesiano,
                        UniSales. Tenho conhecimentos de linguagens de programação com especialidade em python.</p>

                    <!-- Informações pessoais -->
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Nascimento: <span class="fw-lighter">12 de Novembro de 2003</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">18 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Vila Velha</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Espírito Santo</span>
                                </li>
                                <li class="list-group-item">
                                    Instituição: <a href="https://unisales.br/" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">UniSales</a>
                                </li>
                                <li class="list-group-item">
                                    GitHub: <a href="https://github.com/augustobernardo" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">Augusto Oliveira</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p>Projetos feitos na faculdade são guardados no portfólio digital da universidade. O link abaixo irá levar para meu portfólio da universidade.</p>
                    <p><a href="#inicio">Portfólio Digital - Universidade</a></p>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Estudando linguagens de programação a 3 anos através vídeos no youtube, cursos, documentações 
                    e artigos na internet. Adquiri algumas habilidades técnicas e não técnicas, a maioria delas estão aqui, 
                    de acordo com a porcentagem que eu acredito ter em cada umas delas.</p>
                <!-- Colocando as informações das hard skills -->
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">React</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                </div>

                <!-- Linha para separar as hard skills das soft skills -->
                <hr class="w-50 me-auto ms-auto mt-5">

                <!-- Colocando as informações das soft skills -->
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 97%;"
                                aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">97%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 99%;"
                                aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">99%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Pensamento crítico</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>
                <!-- Criando "caixas" para colcoar as informações -->
                <div class="row">
                    <!-- As "caixas" serão envolvidas por divs -->
                    <div class="col-md-6">
                        <h3>Cursos</h3>
                        <!-- Primeira experiência -->
                        <div class="cv-item" data-anime="up">

                            <!--Nome do curso-->
                            <h4>Introdução ao Git e GitHub</h4>

                            <!--Data-->
                            <h5>15/03/2022</h5>

                            <!--Instituição-->
                            <p><em>Digital Innovation One</em></p>

                            <!--Descrição-->
                            <!-- <p>Curso de algoritmos e lógica de programação, com carga horária de 40 horas.</p> -->

                        </div class="cv-item">


                        <!-- Segunda experiência -->
                        <div class="cv-item" data-anime="up">

                            <!--Nome do curso-->
                            <h4>Python</h4>

                            <!--Data-->
                            <h5>Cursando</h5>

                            <!--Instituição-->
                            <p><em>Curso em Vídeo</em></p>

                            <!--Descrição-->
                            <p>Curso de Python de 40 horas de carga horária.</p>

                        </div class="cv-item">

                    </div>
                    <div class="col-md-6">
                        <!-- <h3>Profissional</h3> -->
                        <!-- Caso não tenho experiência profissional, continuar a experiência educacional -->
                        <!-- Terceira experiência -->
                        <div class="cv-item" data-anime="up">

                            <!--Nome do curso-->
                            <h4>ReactJS</h4>

                            <!--Data-->
                            <h5>Cursando</h5>

                            <!--Instituição-->
                            <p><em>Udemy</em></p>

                            <!--Descrição-->
                            <p>Curso com foco na aprendizagem do  React Js, Redux, Webpack, Redux-Form, MongoDB, Express e Node.</p>

                        </div>
                        <!-- Quarta experiência -->
                        <div class="cv-item" data-anime="up">

                            <!--Nome do curso-->
                            <h4>Curso de JavaScript</h4>

                            <!--Data-->
                            <h5>Cursando</h5>

                            <!--Instituição-->
                            <p><em>Curso em Vídeo</em></p>

                            <!--Descrição-->
                            <!-- <p>Curso focado em Javascript</p> -->

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="projetos" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Projetos</h2>
                <!-- Adicionando o carousel -->
                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <!--Criando cards -->
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/imagem_projeto_final.png" class="card-img-top"
                                            alt="Projeto Final de Cálculo Dimâmico - Faculdade">
                                        <div class="card-body">
                                            <h5 class="card-title">Projeto Final de Cálculo Dimâmico - Faculdade</h5>
                                            <p class="card-text">Um programa para calcular a média de um número x de alunos e um número y de notas e também a média da sala.</p>
                                            <div class="d-flex justify-content-center">
                                                <!-- Link do projeto para o GitHub -->
                                                <a href="https://github.com/augustobernardo/sistema-calculo-dinamico-faculdade/tree/master/Projeto%20final%20-%20Sistema%20de%20C%C3%A1lculo%20Din%C3%A2mico/Programa" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                                <!-- Link para ir diretamente para o projeto -->
                                                <a href="https://colab.research.google.com/drive/1cU-Enk9305Qh6YNArbpUwLq1izSrtn7s?authuser=1#scrollTo=AObOHNOjLFPC" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portfolio_digital_react.png" class="card-img-top"
                                            alt="Segundo Projeto">
                                        <div class="card-body">
                                            <h5 class="card-title">Portfólio Digital - React</h5>
                                            <p class="card-text">Um portfólio digital desenvolvido com React.</p>
                                            <div class="d-flex justify-content-center">
                                                <!-- Link do projeto para o GitHub -->
                                                <a href="https://github.com/augustobernardo/react-portfolio-digital" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                                <!-- Link para ir diretamente para o projeto -->
                                                <a href="https://portfoliodigital.surge.sh/" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/projeto3.jpg" class="card-img-top"
                                            alt="Terceiro Projeto">
                                        <div class="card-body">
                                            <h5 class="card-title">Projetos da Faculdade</h5>
                                            <p class="card-text">Todos os códigos e programas de exercícios, desafios e atribuições das unidades de 
                                                                aprendizagem da universidade. Todos os programas foram desenvolvidos em python.<p>
                                                    <div class="d-flex justify-content-center">
                                                        <!-- Link do projeto para o GitHub -->
                                                        <a href="https://github.com/augustobernardo/sistema-calculo-dinamico-faculdade"
                                                            target="_blank" class="btn btn-outline-dark me-3">
                                                            <i class="bi bi-github"></i>
                                                        </a>
                                                        <!-- Link para ir diretamente para o projeto
                                                        <a href="#" target="_blank" class="btn btn-outline-primary">
                                                            <i class="bi bi-link-45deg"></i> -->
                                                        </a>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/relatorio.png" class="card-img-top"
                                            alt="Quarta Projeto ">
                                        <div class="card-body">
                                            <h5 class="card-title">Desmistificando a Lógica de Programação</h5>
                                            <p class="card-text">Este projeto é um relatório que tem como assunto a lógica de programação. Um relatório de 
                                                                introdução ao assunto, para que tanto aqueles que já sabem quanto aqueles que estão tendo o 
                                                                primeiro contato tenham mais facilidade para entender o assunto.
                                            </p>
                                            <div class="d-flex justify-content-center">
                                                <!-- Link do projeto para o GitHub 
                                                <a href="#" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>-->
                                                <!-- Link para ir diretamente para o projeto btn-outline-primary-->
                                                <a href="../static/relatorio/Desmistificando a lógica de programação.pdf" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-download"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/carousel-image-2.png" class="card-img-top"
                                            alt="Quinta Projeto ">
                                        <div class="card-body">
                                            <h5 class="card-title">Quinta imagem de projetos</h5>
                                            <p class="card-text">Descrição da Quinta imagem.</p>
                                            <div class="d-flex justify-content-center">
                                                <!-- Link do projeto para o GitHub -->
                                                <a href="#" target="_blank" class="btn btn-outline-dark me-3">
                                                    <i class="bi bi-github"></i>
                                                </a>
                                                <!-- Link para ir diretamente para o projeto -->
                                                <a href="#" target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-slide="prev" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-slide="next" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <!-- Contato -->
                <h2 class="pt-3 pb-3">Contato</h2>

                <!-- Criando uma row com grupos colunas à esquerda e à direita-->
                <div class="row">
                    <!-- Esquerda -->
                    <div class="col-md-5">

                        <!-- Mapa -->
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização: </h4>
                                <p>Vila Velha, ES</p>
                            </div>

                            <!-- Email -->
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email: </h4>
                                <p>guto.bcode@gmail.com</p>
                            </div>

                            <!-- Iframe da localização -->
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.1443714615484!2d-40.31538189714212!3d-20.376936432459612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb83e2227b6f6ed%3A0x5c0f0a33eab2ae16!2sR.%20Orminda%20Machado%20Duarte%20-%20Praia%20das%20Gaivotas%2C%20Vila%20Velha%20-%20ES%2C%2029102-568!5e0!3m2!1spt-BR!2sbr!4v1644806545137!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                class="w-100"></iframe>
                        </div>
                    </div>

                    <!-- Direita -->
                    <div class="col-md-7 mt-5 mt-md-0" data-anime="left">
                        <div class="card p-5 h-100 shadow border-0">
                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu email" required>
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem</label>
                                    <textarea type="text" class="form-control" rows="10" id="inputAddress2"
                                        placeholder="Digite sua mensagem" name="mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                                    <!-- Botão de carregamento -->
                                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Retorna a mensagem de que foi enviado com sucesso -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <!-- Alerta -->
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert" data-anime="right">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>

    <!-- Footer // Rodapé -->
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Augusto Oliveira</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>